include ../_btn/btn

.private
  .private__column
    .private__image.ibg
      img(src="img/private.jpg" alt="")
  .private__column
    .private-body
      .private-body-content
        .private-body__title Private catering
        .private-body__text Treat your guests to a beautifully plated dinner, hand-crafted canapes or a casual BBQ.
        +btn('private-body-buttons', 'btn__btn--w', 'btn__link--white')
