// $colorTextMain: #000;


.logo {
  position: relative;
  z-index: 11;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__text {
  @include font-s("Bebas", 10px, 8px, $colorTextBlack);
  letter-spacing: 5.8px;
  text-transform: uppercase;

  &:nth-child(3) {
    letter-spacing: 9px;
  }

  @media (max-width: $sw2) {
    font-size: 8px;
  }

  @media (max-width: $sw3) {
    letter-spacing: 4px;

    &:nth-child(3) {
      letter-spacing: 4px;
    }
  }
}

.logo__image {
  margin: 13px 0 20px;

  @media (max-width: $sw2) {
    margin: 2px 0 5px;

    img {
      width: 150px;
    }
  }

  @media (max-width: $sw3) {
    margin: 0 0 2px 0;

    img {
      width: 100px;
    }
  }
}