mixin logo(className, text)
  a.logo(class= className href="#")
    if text === 'withText'
      span.logo__text NYC'S
    span.logo__image
      img(src="img/logo.png" alt="PrimeOne")
    if text === 'withText'
      span.logo__text Catering