.btn {
  display: flex;
  flex-direction: column;
  align-items: start;

  &--private {
    flex-direction: row;
    align-items: center;

    @media (max-width: $sw2) {
      flex-direction: column;
      align-items: start;
    }

    @media (max-width: $sw3) {
      flex-direction: row;
      align-items: center;
    }
  }

}

.btn__btn {
  display: inline-block;
  padding: 17px 34px 16px 33px;
  @include font-s('Bebas', 17px, 17px, $colorTextBlack);
  letter-spacing: 2.3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $colorBtnBlack;
  margin-right: 14px;

  &--w {
    background-color: #fff;
  }
}

.btn__link {
  @include font-s('Bebas', 17px, 17px, $colorTextBlack);
  letter-spacing: 2.7px;

  &--white {
    color: $colorTextWhite;
  }

  @media (max-width: $sw2) {
    margin-top: 29px;
  }

  @media (max-width: $sw3) {
    margin-top: 0;
  }
}