mixin btn(classElement, calssBtnMixin, classLinkMixin)
  div(class= classElement).btn
    a.btn__btn(class= calssBtnMixin  href="#") Get a quote
    a.btn__link(class= classLinkMixin href="#") View menus
